buffer_overflow
buf_over_read
cmd_injection
dangling_pointer
double_free
format_string
heap_overflow
integer_overflow
int_to_buffer_overflow
null_ptr_deref
off_by_one_challenge
race_condition
stack_off_by_one
toctou
type_confusion
uninitialized_var
uninitialized_var2
use_after_free
use_after_free2
